.FBReader/*
.FontForge/*
.ICEauthority
.Xauthority
.adobe/*
.aptitude/*
.avfs/*
.cabal/*
.cache/*
.config/Thunar/*
.config/Trolltech.conf
.config/caja/*
.config/calibre/*
.config/chromium/*
.config/dconf/*
.config/enchant/*
.config/gtk-2.0/*
.config/gtk-3.0/*
.config/menus
.config/pulse/*
.config/qBittorrent/*
.config/transmission/*
.config/upstart/*
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/*
.config/xfburn/*
.config/xfce4/*
.conkeror.mozdev.org/*
.darcs/*
.dbus/*
.dmenu_cache
.dmrc
.emacs.d/*
.fehbg
.fontconfig/*
.gconf/*
.ghc/*
.gnome2/*
.gnupg/*
.gstreamer-0.10/*
.gtkrc-2.0
.gtkrc-xfce
.histfile
.icedtea/*
.java/*
.lesshst
.linuxmint/mintWelcome/norun.flag
.local/*
.lyrics/*
.macromedia/*
.mozilla/*
.mpd/pid
.nano_history
.ncmpcpp/error.log
.ncmpcpp/patterns.list
.nv/*
.opera/*
.pki/*
.slime/*
.ssh/*
.ssr/*
.subversion/*
.texmf-var/*
.thumbnails/*
.viminfo*
.w3m/*
.windows-serial
.wine/*
.xmonad/*
.xsession-errors
.zcompdump
.zsh_histfile
Anki/*
Calibre Library/*
__sync/*
bin/*
downloads/*
drill/*
mnsymbol/*
org/*
pictures/*
playlist-radia
quicklisp/*
script/*
source/*
stuff/*
texmf/*