.FBReader/*
.aptitude/*
.cabal/*
.cache/*
.config/caja/*
.config/chromium/*
.config/dconf/*
.config/gtk-2.0/*
.config/menus
.config/pulse/*
.config/Thunar/*
.config/Trolltech.conf
.config/upstart/*
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xfce4/*
.conkeror.mozdev.org/*
.dbus/*
.emacs.d/*
.fontconfig/*
.gconf/*
.ghc/*
.gnome2/*
.gnupg/*
.gstreamer-0.10/*
.local/*
.macromedia/*
.mozilla/*
.ncmpcpp/*
.opera/*
.slime/*
.ssh/*
.subversion/*
.thumbnails/*
.xmonad/*
.wine/*
.w3m/*
Anki/*
bin/*
quicklisp/*
downloads/*
pictures/*
org/*
source/*
.dmenu_cache
.windows-serial
.ICEauthority
.Xauthority
.dmrc
.fehbg
.gtkrc-2.0
.gtkrc-xfce
.histfile
.lesshst
.linuxmint/mintWelcome/norun.flag
.nano_history
.xsession-errors
.zcompdump
.zsh_histfile
playlist-radia
/.mpd/pid
