.FBReader/*
.FontForge/*
.ICEauthority
.Xauthority
.adobe/*
.aptitude/*
.aspell.en.prepl
.authinfo.gpg
.avfs/*
.baf/*
.bash_history
.cabal/*
.cache/*
.calibre_calibre GUI.lock
.cask/
.config/Pinta/
.config/Thunar/*
.config/Trolltech.conf
.config/Undertype/fontmatrix.conf
.config/caja/*
.config/calibre/*
.config/chromium/*
.config/dconf/*
.config/enchant/*
.config/fish/fish_history
.config/fish/fishd.201a06ddd68a
.config/fish/generated_completions/*
.config/google-googletalkplugin/*
.config/gtk-2.0/*
.config/gtk-3.0/*
.config/htop/htoprc
.config/libreoffice/*
.config/menus
.config/mono.addins/
.config/mpd/.config/*
.config/mpd/mpd.log
.config/mpd/pid
.config/mpd/playlists/*
.config/mpd/state
.config/mpd/sticker.sql
.config/mpd/tag_cache
.config/pavucontrol.ini
.config/pulse/*
.config/qBittorrent/*
.config/transmission/*
.config/upstart/*
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/*
.config/xfburn/*
.config/xfce4/*
.conkeror.mozdev.org/*
.darcs/*
.dbus/*
.dmenu_cache
.dmrc
.emacs.d/
.emacs.d/*
.fehbg
.fontconfig/*
.gconf/*
.getmail/*
.ghc/*
.gksu.lock
.gnome2/*
.gnupg/*
.gstreamer-0.10/*
.gtkrc-2.0
.gtkrc-xfce
.histfile
.icedtea/*
.irssi/config
.java/*
.jhistory
.kkcrc
.lesshst
.linuxmint/mintWelcome/norun.flag
.local/*
.lyrics/*
.m2/*
.macromedia/*
.malabar_mode/*
.mozilla/*
.mpd/*
.mplayer/
.mysql_history
.nano_history
.nbi/*
.ncmpcpp/error.log
.ncmpcpp/patterns.list
.netbeans/*
.nv/*
.nvidia-settings-rc
.offlineimap/
.opera/*
.opera_mail/*
.opera_temp/*
.pip/*
.pki/*
.rnd
.screenlayout/generated-by-arandr
.slime/*
.slocdata/*
.sqlite_history
.ssh/*
.ssr/*
.subversion/*
.swipl-dir-history/
.tagsistant/*
.texmf-var/*
.thumbnails/*
.viminfo*
.w3m/*
.windows-serial
.wine/*
.xmonad/*.hi
.xmonad/*.o
.xmonad/history
.xmonad/lib/*.hi
.xmonad/lib/*.o
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xsel.log
.xsession-errors
.zcompdump
.zsh_histfile
256colors2.pl
270px-Emacs-logo.svg.png
Anki/*
Calibre Library/*
GNUstep/
Maildir/*
__sync/*
books.html
dev/*
download/*
drill/*
files/*
games/*
gmon.out
installed-packages.txt
languages/
languages/*
ltxpng/*
media/*
mfput.log
mnsymbol/*
org/*
passwords.txt
pictures/*
playlist-radia
progs/*
quicklisp/*
saved_colors
screens/*
script/*
secrets/*
skola/*
sources/*
stuff/*
test/
texmf/*
xterm-colortest
